<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        
        <!-- SEO -->
        <title>{% block title %}{{ 'default_page_title'|trans }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ 'default_seo_description'|trans }}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{{ 'default_seo_keywords'|trans }}{% endblock %}">
        <meta name="author" content="{% block author %}{{ 'default_seo_author'|trans }}{% endblock %}">
        <meta name="robots" content="index, follow">
        <!-- /SEO-->

        <!-- Styles -->
        <script src="{{ app.request.basepath }}/assets/js/vendor/modernizr-2.8.2.min.js"></script>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/style.css" type="text/css" media="screen" />
        {% endblock %}


        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
     </head>
    <body class="{{ app.locale }} {{ current_route }}">
        {% block body %}
            
        {% endblock %}

        <script src="{{ app.request.basepath }}/assets/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="{{ app.request.basepath }}/assets/js/main.js"></script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ app.config.google_analytics.code }}']);
          _gaq.push(['_trackPageview']);

          var _ga_project_name = '{{ app.config.google_analytics.name }}';
          var _ga_language = '{{ app.locale|lower }}';
          var _ga_project_id = '{{ app.config.google_analytics.id }}';
          var _ga_debug = '{{ app.debug }}';

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <script src="{{ app.request.basepath }}/assets/js/analytics.js"></script>
        
        {% block javascripts %}
        {% endblock %}
    </body>
</html>

