{% extends 'layout.html.twig' %}
{% import "modules/macro.html.twig" as macros %}

{% block content %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	    {{ form_errors(form) }}

	    <div>
	    	{# Fancy bad tryouts to see how we can theme this #}
	        {{ 'name'|trans }}
	        {% if form_errors(form.name) %}
	        	ERRORS
	        {% endif %}
	        {{ form_errors(form.name) }}
	        {{ form_widget(form.name) }}
	    </div>

	    <div>
	        {{ form_label(form.email) }}
	        {{ form_errors(form.email) }}
	        {{ form_widget(form.email) }}
	    </div>

	    <div>
	        {{ form_label(form.gender) }}
	        {{ form_errors(form.gender) }}
	        {{ form_widget(form.gender) }}
	    </div>

	    <div>
	        {{ form_widget(form.save) }}
	    </div>

	{{ form_end(form) }}
{% endblock %}